APP_ENV=prod

# Base de données
DB_USER=postgres
DB_PASSWORD=changeme_in_production
DB_NAME=app_db

# Backend
BACKEND_PORT=8000
CORS_ORIGINS=http://localhost

# Frontend
FRONTEND_PORT=80
VITE_API_URL=http://localhost:8000

# Ne pas initialiser la DB en prod
INIT_DB=false
