APP_ENV=dev

# Base de données
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app_db
DB_PORT=5432

# Backend
BACKEND_PORT=8000
CORS_ORIGINS=http://localhost:5173

# Frontend
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000

# Init DB au démarrage (dev uniquement)
INIT_DB=true
